In [1]:
import pandas as pd
import os

In [2]:
# Importing cleaned DF
NYC_dogs_clean_forclass = os.path.join('.', 'Resources/NYC_dogs_clean_forclass.csv')
NYC_dogs_clean_tableau = pd.read_csv(NYC_dogs_clean_forclass)

In [3]:
# DataDrame for Tableau visuals
NYC_dogs_clean_tableau

,Unnamed: 0,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,CommunityDistrict,CensusTract2010,NTA,CityCouncilDistrict,CongressionalDistrict,StateSenatorialDistrict,LicenseIssuedDate,LicenseExpiredDate
0,0,SHADOW,M,1,Beagle,Brooklyn,11236,318.0,1014.0,BK50,46.0,8.0,19.0,2014-12-29,2016-01-30
1,1,ROCCO,M,10,Boxer,Brooklyn,11210,314.0,756.0,BK43,45.0,9.0,17.0,2015-01-07,2016-01-30
2,2,LUIGI,M,9,Maltese,Bronx,10464,210.0,516.0,BX10,13.0,14.0,34.0,2015-01-17,2016-02-02
3,3,PETUNIA,F,8,Pug,Brooklyn,11221,304.0,419.0,BK78,34.0,7.0,18.0,2015-03-01,2016-03-28
4,4,ROMEO,M,10,Maltese,Bronx,10451,201.0,65.0,BX34,17.0,15.0,32.0,2015-03-09,2016-03-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117619,121857,ROCKY,M,6,Boston Terrier,Manhattan,10022,106.0,98.0,MN19,4.0,12.0,28.0,2016-12-31,2018-12-31
117620,121858,ROXY,F,10,"Collie, Border",Brooklyn,11219,311.0,250.0,BK28,38.0,10.0,22.0,2016-12-31,2018-09-18
117621,121859,VALENTINA,F,5,German Shepherd Crossbreed,Staten Island,10312,503.0,17008.0,SI48,51.0,11.0,24.0,2016-12-31,2017-12-31
117622,121860,VENUS,F,12,Yorkshire Terrier,Bronx,10455,201.0,79.0,BX34,8.0,15.0,29.0,2016-12-31,2017-06-06
117623,121861,WILLOW,F,3,Unknown,Manhattan,10025,107.0,195.0,MN09,7.0,10.0,31.0,2016-12-31,2018-01-15

In [4]:
# Column data types
NYC_dogs_clean_tableau.dtypes

Unnamed: 0                   int64
AnimalName                  object
AnimalGender                object
AnimalBirthMonth             int64
BreedName                   object
Borough                     object
ZipCode                      int64
CommunityDistrict          float64
CensusTract2010            float64
NTA                         object
CityCouncilDistrict        float64
CongressionalDistrict      float64
StateSenatorialDistrict    float64
LicenseIssuedDate           object
LicenseExpiredDate          object
dtype: object

## Top 20 dog breeds in NYC

In [5]:
# Top 20 dog Breeds DataFrame
n=20
NYC_dogs_clean_tableau['BreedName'].value_counts()[:n].index.tolist()

['Unknown',
 'Yorkshire Terrier',
 'Shih Tzu',
 'Chihuahua',
 'Labrador Retriever',
 'Maltese',
 'American Pit Bull Mix / Pit Bull Mix',
 'American Pit Bull Terrier/Pit Bull',
 'Labrador Retriever Crossbreed',
 'Pomeranian',
 'Beagle',
 'Jack Russell Terrier',
 'Golden Retriever',
 'Havanese',
 'German Shepherd Dog',
 'Cocker Spaniel',
 'Pug',
 'German Shepherd Crossbreed',
 'Cavalier King Charles Spaniel',
 'Poodle, Toy']

## Min and Max of CensusTract2010

In [7]:
# Min of CensusTract2010 column
NYC_dogs_clean_tableau['CensusTract2010'].min()

1.0

In [8]:
# Max of CensusTract2010 column
NYC_dogs_clean_tableau['CensusTract2010'].max()

157903.0

## Most popular dog names

In [39]:
# Most popular dog names
n=15
NYC_dogs_clean_tableau['BreedName'].value_counts()[:n].index.tolist()

['Unknown',
 'Yorkshire Terrier',
 'Shih Tzu',
 'Chihuahua',
 'Labrador Retriever',
 'Maltese',
 'American Pit Bull Mix / Pit Bull Mix',
 'American Pit Bull Terrier/Pit Bull',
 'Labrador Retriever Crossbreed',
 'Pomeranian',
 'Beagle',
 'Jack Russell Terrier',
 'Golden Retriever',
 'Havanese',
 'German Shepherd Dog']

## Month most dogs are born

In [40]:
# When most dogs are born
n=3
NYC_dogs_clean_tableau['AnimalBirthMonth'].value_counts()[:n].index.tolist()

[1, 6, 4]

## Year most dogs are registered

In [41]:
# When most dogs are registered
n=3
NYC_dogs_clean_tableau['LicenseIssuedDate'].value_counts()[:n].index.tolist()

['2016-07-12', '2016-08-08', '2016-05-11']

In [50]:
# import the datetime module
import datetime

In [58]:
# Adding year column
NYC_dogs_clean_tableau['LicenseIssuedDate'] = pd.to_datetime(NYC_dogs_clean_tableau['LicenseIssuedDate'],format='%Y-%m-%d')
NYC_dogs_clean_tableau['LicenseIssueYear'] = pd.DatetimeIndex(NYC_dogs_clean_tableau['LicenseIssuedDate']).year

In [53]:
# When most dogs are registered
n=3
NYC_dogs_clean_tableau['LicenseIssueYear'].value_counts()[:n].index.tolist()

[2016, 2015, 2014]

## Top dogs per Borough - created 5 df's per borough

In [28]:
# Creating new df with BreedName and Borough only 
boroughs_df = NYC_dogs_clean_tableau.filter(['BreedName','Borough'], axis=1)

In [37]:
# Creating a new df of Bronx breed name
bronx_df = boroughs_df[boroughs_df['Borough'].str.contains('Bronx')]
# Top dog in Bronx
n=3
bronx_df['BreedName'].value_counts()[:n].index.tolist()

['Unknown', 'Yorkshire Terrier', 'Shih Tzu']

In [36]:
# Creating a new df of Brooklyn breed name
brooklyn_df = boroughs_df[boroughs_df['Borough'].str.contains('Brooklyn')]
# Top dog in Brooklyn
n=3
brooklyn_df['BreedName'].value_counts()[:n].index.tolist()

['Unknown', 'Yorkshire Terrier', 'Shih Tzu']

In [33]:
# Creating a new df of Manhattan breed name
manhattan_df = boroughs_df[boroughs_df['Borough'].str.contains('Manhattan')]
# Top dog in Manhattan
n=3
manhattan_df['BreedName'].value_counts()[:n].index.tolist()

['Unknown', 'Yorkshire Terrier', 'Chihuahua']

In [34]:
# Creating a new df of Queens breed name
queens_df = boroughs_df[boroughs_df['Borough'].str.contains('Queens')]
# Top dog in Queens
n=3
queens_df['BreedName'].value_counts()[:n].index.tolist()

['Unknown', 'Yorkshire Terrier', 'Shih Tzu']

In [35]:
# Creating a new df of Staten Island breed name
staten_island_df = boroughs_df[boroughs_df['Borough'].str.contains('Staten Island')]
# Top dog in Staten Island
n=3
staten_island_df['BreedName'].value_counts()[:n].index.tolist()

['Unknown', 'Shih Tzu', 'Yorkshire Terrier']

In [56]:
# initialize list of lists
data = [['Bronx', 'Yorkshire Terrier'], ['Brooklyn', 'Yorkshire Terrier'], ['Manhattan', 'Yorkshire Terrier'], ['Queens', 'Yorkshire Terrier'], ['Staten Island', 'Shih Tzu']]
  
# Creating a new df Top Dog Breed Per Borough
top_dop_breed_per_borough = pd.DataFrame(data, columns = ['Borough', 'Top Dog'])
top_dop_breed_per_borough

         Borough            Top Dog
0          Bronx  Yorkshire Terrier
1       Brooklyn  Yorkshire Terrier
2      Manhattan  Yorkshire Terrier
3         Queens  Yorkshire Terrier
4  Staten Island           Shih Tzu

## Playing around with data - irrelevant

In [12]:
# Binning CensusTract2010 column
bins = [1, 1000, 10000, 50000, 100000, 170000]
labels = [1,2,3,4,5]

binned_df['CensusTract2010'] = pd.cut(binned_df['CensusTract2010'], bins=bins, labels=labels)
print(binned_df)

       AnimalName                   BreedName        Borough CensusTract2010
0         SHADOW                       Beagle       Brooklyn             NaN
1           ROCCO                       Boxer       Brooklyn             NaN
2           LUIGI                     Maltese          Bronx             NaN
3         PETUNIA                         Pug       Brooklyn             NaN
4           ROMEO                     Maltese          Bronx             NaN
...           ...                         ...            ...             ...
117619      ROCKY              Boston Terrier      Manhattan             NaN
117620      ROXY               Collie, Border       Brooklyn             NaN
117621  VALENTINA  German Shepherd Crossbreed  Staten Island             NaN
117622      VENUS           Yorkshire Terrier          Bronx             NaN
117623     WILLOW                     Unknown      Manhattan             NaN

[117624 rows x 4 columns]

In [13]:
# Scaling income column
import seaborn as sns
import pandas as pd
import numpy as np
 
data = NYC_dogs_clean_tableau
data.head()

,Unnamed: 0,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,CommunityDistrict,CensusTract2010,NTA,CityCouncilDistrict,CongressionalDistrict,StateSenatorialDistrict,LicenseIssuedDate,LicenseExpiredDate
0,0,SHADOW,M,1,Beagle,Brooklyn,11236,318.0,1014.0,BK50,46.0,8.0,19.0,2014-12-29,2016-01-30
1,1,ROCCO,M,10,Boxer,Brooklyn,11210,314.0,756.0,BK43,45.0,9.0,17.0,2015-01-07,2016-01-30
2,2,LUIGI,M,9,Maltese,Bronx,10464,210.0,516.0,BX10,13.0,14.0,34.0,2015-01-17,2016-02-02
3,3,PETUNIA,F,8,Pug,Brooklyn,11221,304.0,419.0,BK78,34.0,7.0,18.0,2015-03-01,2016-03-28
4,4,ROMEO,M,10,Maltese,Bronx,10451,201.0,65.0,BX34,17.0,15.0,32.0,2015-03-09,2016-03-09

In [14]:
# Min-Max Normalization
df = data.drop(['AnimalName', 'AnimalGender', 'AnimalBirthMonth', 'ZipCode', 'CommunityDistrict', 'NTA', 'CityCouncilDistrict', 'CongressionalDistrict', 'BreedName', 'Unnamed: 0', 'Borough', 'StateSenatorialDistrict', 'LicenseIssuedDate', 'LicenseExpiredDate'], axis=1)
df

        CensusTract2010
0                1014.0
1                 756.0
2                 516.0
3                 419.0
4                  65.0
...                 ...
117619             98.0
117620            250.0
117621          17008.0
117622             79.0
117623            195.0

[117624 rows x 1 columns]

In [9]:
# Drop unneccessary columns
binned_df = NYC_dogs_clean_tableau.drop(['Unnamed: 0', 'AnimalGender', 'AnimalBirthMonth', 'ZipCode', 'CommunityDistrict', 'NTA', 'CityCouncilDistrict', 'CongressionalDistrict', 'StateSenatorialDistrict', 'LicenseIssuedDate', 'LicenseExpiredDate'], axis=1)
binned_df

       AnimalName                   BreedName        Borough  CensusTract2010
0         SHADOW                       Beagle       Brooklyn           1014.0
1           ROCCO                       Boxer       Brooklyn            756.0
2           LUIGI                     Maltese          Bronx            516.0
3         PETUNIA                         Pug       Brooklyn            419.0
4           ROMEO                     Maltese          Bronx             65.0
...           ...                         ...            ...              ...
117619      ROCKY              Boston Terrier      Manhattan             98.0
117620      ROXY               Collie, Border       Brooklyn            250.0
117621  VALENTINA  German Shepherd Crossbreed  Staten Island          17008.0
117622      VENUS           Yorkshire Terrier          Bronx             79.0
117623     WILLOW                     Unknown      Manhattan            195.0

[117624 rows x 4 columns]

In [15]:
# Min-Max Normalization
df_norm = (df-df.min())/(df.max()-df.min())
df_norm = pd.concat((df_norm, data), 1)
 
print("Scaled Dataset Using Pandas")
df_norm.head()

Scaled Dataset Using Pandas

/Users/belenlopez/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,CensusTract2010,Unnamed: 0,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,CommunityDistrict,CensusTract2010,NTA,CityCouncilDistrict,CongressionalDistrict,StateSenatorialDistrict,LicenseIssuedDate,LicenseExpiredDate
0,0.006415,0,SHADOW,M,1,Beagle,Brooklyn,11236,318.0,1014.0,BK50,46.0,8.0,19.0,2014-12-29,2016-01-30
1,0.004781,1,ROCCO,M,10,Boxer,Brooklyn,11210,314.0,756.0,BK43,45.0,9.0,17.0,2015-01-07,2016-01-30
2,0.003262,2,LUIGI,M,9,Maltese,Bronx,10464,210.0,516.0,BX10,13.0,14.0,34.0,2015-01-17,2016-02-02
3,0.002647,3,PETUNIA,F,8,Pug,Brooklyn,11221,304.0,419.0,BK78,34.0,7.0,18.0,2015-03-01,2016-03-28
4,0.000405,4,ROMEO,M,10,Maltese,Bronx,10451,201.0,65.0,BX34,17.0,15.0,32.0,2015-03-09,2016-03-09

In [17]:
# IF NEEDED - 5. Export the Dataframe as a new CSV file without the index.
citibike_data_df.to_csv('201908-citibike-updated-data.csv', index=False)

NameError: name 'citibike_data_df' is not defined